@model IPagedList<Blog.ViewModels.BlogViewModel>
@using Blog.Utility
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    ViewBag.Header = ViewBag.Header ?? "Most Popular Blogs";
    ViewBag.Action = ViewBag.Action ?? "Index";
}


<section id="works" class="works">
    <div class="container">
        <div class="section-heading">
            <h1 class="title wow fadeInDown" data-wow-delay=".3s">@ViewBag.Header</h1>
        </div>
        <div class="row">
            @foreach(var blog in Model)
            {
                <div class="col-sm-3 col-xs-12">
                    <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                        <a href="/Blog/@blog.UrlName">
                            <div class="img-wrapper">
                                <img src="@blog.MiniatureUrl" class="img-responsive" alt="this is a title">
                                <div class="overlay">
                                    <p style="color: #CECECE;">@blog.Description</p>
                                </div>
                            </div>
                        </a>
                        <figcaption>
                            <h4 style="height: 40px; overflow: hidden;">
                                <a href="/Blog/@blog.UrlName">
                                    @Html.Trim(blog.Name,50)
                                </a>
                            </h4>
                        </figcaption>
                    </figure>
                </div>
            }
        </div>
    </div>
</section>

@Html.PagedListPager(Model, page => Url.Action(ViewBag.Action, new { page }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })