@using Blog.Utility
@using PagedList
@using PagedList.Mvc
@model Blog.ViewModels.DisplayBlog
@{
    ViewBag.Title = "Default";
    ViewBag.Action = ViewBag.Action ?? "";
}

<style>
    .global-page-header {
        @if (Model.Blog.HeaderUrl != null)
        {
            @:background-image: url('@Model.Blog.HeaderUrl')
        }
    }
</style>

<section class="global-page-header" style="padding-top: 70px; padding-bottom: 75px; height: 279px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h2>@Model.Blog.Name</h2>
                    @*<ol class="breadcrumb">
                        <li>
                            <a href="index.html">
                                <i class="ion-ios-home"></i>
                                Home
                            </a>
                        </li>
                        <li class="active">Blog</li>
                    </ol>*@
                </div>
            </div>
        </div>
    </div>
</section><!--/#Page header-->
<section id="blog-full-width">
    <div class="container">
        @if (ViewBag.Header != null)
        {
            <div class="section-heading">
                <h1 class="title wow fadeInDown" data-wow-delay=".3s">@ViewBag.Header</h1>
            </div>
        }
        <div class="row">
            @if (Model.LayoutSettings.WidgetsColumnSide == "left")
            {
                Html.RenderPartial("Default/Widgets/_Widgets", Model.LayoutSettings);
            }
            <div class="col-md-8">
                @foreach (var post in Model.Posts)
                {
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        @*<div class="blog-post-image">
                            <a href="post-fullwidth.html"><img class="img-responsive" src="images/blog/post-1.jpg" alt=""/></a>
                        </div>*@
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="/Blog/@Model.Blog.UrlName/@post.Id/@post.UrlName">@post.Title</a>
                            </h2>
                            <div class="blog-meta">
                                <span>@Html.DisplayFor(p => post.PublishDate)</span>
                                <span>by <a href="">Admin</a></span>
                                <span><a href="">@post.Category.Name</a></span>
                            </div>
                            <div>@Html.Raw(Html.Trim(post.Content, 500))</div>
                            <a href="/Blog/@Model.Blog.UrlName/@post.Id/@post.UrlName" class="btn btn-dafault btn-details">Continue Reading</a>
                        </div>

                    </article>
                }
            </div>
            @if (Model.LayoutSettings.WidgetsColumnSide == "right")
            {
                Html.RenderPartial("Default/Widgets/_Widgets", Model.LayoutSettings);
            }
        </div>
    </div>
</section>

@Html.PagedListPager((IPagedList)Model.Posts, page => "/Blog/" + Model.Blog.UrlName + ViewBag.Action + "?page="+page, new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
